html, body{
    margin: 30px;
    background: #eee;
}

.faq{

}

.faq .item{
    background: #ff0;
    margin: 0;
}

.faq .item .ask{
    font-size: 30px;
    margin-bottom: 0;
    cursor: pointer;
}

.faq .item .answer{
    overflow: hidden;
    padding: 0 15px;
}