.wrapper {

  width: 60%;
}

.question {
  color: #fefefe;
  font-size: 20px;
  background: #898989;
  margin: 10px;
  padding: 5px;
  text-align: center;
 }

.question:hover {
  cursor:pointer;
}

.answer {
  background:#fefefe;
  margin: 10px;
  padding: 5px;
  text-align: justify;
}
