body{
    text-align: left;
    max-width:300px;
}
form{
    padding:20px;
}

input{
    margin:10px;
    width:200px;
    height:30px;
    text-align: center;
    box-sizing: border-box;
}

.wrong{
    border:1px solid red;
}



span{
    color: red;
    font-size: 14px;
    padding-left: 5px;
}