html, body{
	margin: 0;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	padding: 10px 0 10px 0;
	width: 100%;
}

.arrow-up {
	opacity: 0;
	position: fixed;
	bottom: 170px;
	right: 50px;
	padding-top: 15px;
	background-color: rgba(208, 245, 223, .8);
	border: 3px double black;
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 2em;
	transition: opacity .9s;
}

.arrow-down {
	opacity: 0;
	position: fixed;
	bottom: 80px;
	right: 50px;
	padding-top: 15px;
	background-color: rgba(208, 245, 223, .8);
	border: 3px double black;
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 2em;
	transition: opacity .9s;
}
	
section {
	margin: 100px auto 0 auto;
	max-width: 1280px;
}

ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

li a{
	text-decoration: none;
	color: white; 
}

li a:hover{
	color: #13FB70;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

p {
	text-align: justify;
}