form {
  box-sizing: border-box;
  width: 300px;
  padding: 20px 10px;
  border: none;
  display: block;
  overflow: hidden;
}

label {
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

span {
  display: block;
  margin-bottom: 7px;
}

input {
  width: 100%;
  padding: 10px 20px;
  display: block;
  outline: none;
}

input.active {
  border: 1px solid red;
}
